.footer{
    margin-top: 0 !important;
    background-color: #162374 !important;
    color: white;
    padding: 15px;
    display: block !important
    }
    .logo-footer{
        margin-top: 20px;
    }